#audio {
  width: 300px;
}
#canvas {
  width: 300px;
  height: 150px;
}
/* General styles */
.chat-window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 92%;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-color: rgb(26, 27, 30) rgb(43, 45, 49);
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-timestamp {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/* Audio message styles */
.message-audio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-audio audio {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  animation: fadeIn 1s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sender-specific styles */
.message.sender1 {
  align-self: flex-start;
}

.message.sender2 {
  align-self: flex-end;
}
.chat-message {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
.chat-message.user {
  /* Add styles specific to user messages here */
  background-color: #3a3c3f;
  color: #fff;
  align-self: flex-end;
  font-family: "Google Sans", sans-serif;
}

.chat-message.agent {
  /* Add styles specific to agent messages here */
  background-color: #1f2123;
  color: #fff;
  align-self: flex-start;
  font-family: "Google Sans", sans-serif;
}
